@media(max-width:575px) and (min-width:320px){
    *{
        margin: auto;
    }
    .music{
        padding-top: 50px;
        margin: auto;
    }
    .wrapper{
        margin-bottom: 600px;
    }
    .single-img img {
        width: 200px;
        height: 200px;
      
    }
    .content p{
        font-size: 20px;
    }
    .bday h1{
        font-size: 60px;
        margin: auto;
    }
    .name h1{
        font-size: 60px;
        margin: auto;
    }
   .example{
margin: auto;
    }
}
